<!DOCTYPE html>
<html>
	<head>
		<title>Recursed</title>
		<link rel="stylesheet" href="static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"
	</head>
	<body>
		<nav>
			<h3>I'm in love with that artist , his paintings and story ❤️ </h3>
			<h4> Those are ones of my favourite paintings , check them out </h4>
		</nav>
		<div class="card">
			<img src="static/art1.jpg">
            <a class="buttons" href="/?image=art1.jpg">Access Image</a>
			#1
		</div>
		<div class="card">
			<img src="static/art2.jpeg">
            <a class="buttons" href="/?image=art2.jpeg">Access Image</a>
			#2
		</div>
		<div class="card">
			<img src="static/art3.avif">
			<a class="buttons" href="/?image=art3.avif">Access Image</a>
			#3
		</div>
		<div class="card">
			<img src="static/art4.jpeg">
		    <a class="buttons" href="/?image=art4.jpeg">Access Image</a>
			#4
		</div>
	</body>
</html>
