<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome</h2>
        <h3>Select a Champion:</h3>
        <div class="champion-container">
            <a href="/quote/Aatrox"><img src="{{ url_for('static', filename='aatrox.jpg') }}" alt="Aatrox"></a>
            <a href="/quote/Caitlyn"><img src="{{ url_for('static', filename='caitlyn.jpg') }}" alt="Caitlyn"></a>
            <a href="/quote/Jinx"><img src="{{ url_for('static', filename='jinx.jpg') }}" alt="Jinx"></a>
            <a href="/quote/Jayce"><img src="{{ url_for('static', filename='jayce.jpg') }}" alt="Jayce"></a>
            <a href="/quote/Viktor"><img src="{{ url_for('static', filename='viktor.jpg') }}" alt="Viktor"></a>
            <a href="/quote/Ekko"><img src="{{ url_for('static', filename='ekko.jpg') }}" alt="Ekko"></a>
        </div>
    </div>
</body>
</html>
