@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');





*{

    margin: 0;

    padding: 0;

}

body{

    background: linear-gradient(240deg,rgb(184, 16, 198),rgb(21, 21, 125));

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

	font-family: 'Handjet', cursive;

	font-size:25px;

	padding-top:50px;

}

nav{

    width: 100vw;

    height: auto;

    background-color: #27004e;

    text-align: center;

	position: fixed;

	top: 0;

}

h3{

    color: white;

	padding:10px;

}

h4{

	color: yellow;

	padding:10px;

}

img{

    width: 100%;

}

.card{

    height: 100%;

	width: 80%;

	max-width:880px;

    padding: 20px;

    background: linear-gradient(90deg,rgba(0,0,0,0.1),rgba(0,0,0,0));

    --webkit-filter: blur(8px);

    margin-left: auto;

    margin-right: auto;

    margin-top: 20px;

    margin-bottom: 20px;

    border-radius: 10px;

    color: #faf9fb;

    border: rgba(0,0,0,0.1) solid 2px;

    box-shadow: 0px 0px 50px 6px black;

}



.buttons {

  background: #5E5DF0;

  border-radius: 999px;

  box-shadow: #5E5DF0 0 10px 20px -10px;

  box-sizing: border-box;

  color: #FFFFFF;

  cursor: pointer;

  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;

  font-size: 16px;

  font-weight: 700;

  line-height: 24px;

  opacity: 1;

  outline: 0 solid transparent;

  padding: 8px 18px;

  user-select: none;

  -webkit-user-select: none;

  touch-action: manipulation;

  width: fit-content;

  word-break: break-word;

  border: 0;

}

